<article class="p-3">
  <% if @gift.order.paid? %>
    <h1>Thanks for Your Order Gift!</h1>
  <% else %>
    <h1>Problem with your Gift</h1>
  <% end %>
  <section class="card border rounded rounded-lg <%= @gift.order.paid? ? 'bg-success' : 'bg-danger' %> text-light">
    <div class="card-body">
      <h2 class="card-title h4">Order <span class="font-weight-normal h5">#<%= @gift.order.user_facing_id %></span></h2>
      <h3 class="card-subtitle text-white font-weight-lighter h5 mb-2">
        <%= @gift.product.name %>
        for
        <strong><%= @gift.child.full_name %></strong>
      </h3>
      <p class="card-text">
        <% if @gift.order.paid? %>
          Paid <span class="text-white font-weight-bold"><%= number_to_currency(@gift.product.price_cents / 100) %></span> on <%= @gift.created_at.strftime("%B %d, %Y") %>.
        <% else %>
          Unable to charge <%= number_to_currency(@gift.product.price_cents / 100) %>. Please contact us.
        <% end %>
      </p>
    </div>
  </section>
</article>
